#project
QDRANT_URL="your-qdrant-cluster-url"
QDRANT_API_KEY="your-qdrant-api-key"


EMBEDDING_MODEL_NAME="BAAI/bge-m3"
#EMBEDDING_MODEL_NAME="BAAI/bge-base-en-v1.5"
OLLAMA_MODEL_NAME="qwen2.5:1.5b"
#OLLAMA_MODEL_NAME="gemma2:2b"

OLLAMA_BASE_URL="http://localhost:11434"

HF_TOKEN="your-huggingface-token"

# Supabase Storage
SUPABASE_URL="your-supabase-project-url"
SUPABASE_SERVICE_ROLE_KEY="your-supabase-service-role-key"
SUPABASE_BUCKET="Bucket"

#langfuse
LANGFUSE_SECRET_KEY="your-langfuse-secret-key"
LANGFUSE_PUBLIC_KEY="your-langfuse-public-key"
LANGFUSE_BASE_URL="https://cloud.langfuse.com"
