qdrant-client
pymupdf4llm

langchain
langchain-community
langchain-qdrant

python-dotenv

# AI Embeddings (Local)
sentence-transformers
torch
FlagEmbedding

# Vector Storage Base Client
qdrant-client



# Backend API Serving
fastapi
uvicorn
pydantic

#Scrapping/Converting/Comparing
requests
beautifulsoup4
pdfplumber
urllib3