# PDF Processing
pymupdf4llm

# AI Embeddings (Local)
sentence-transformers
torch
FlagEmbedding

# Vector Storage
qdrant-client

# LangChain
langchain
langchain-community
langchain-qdrant

# Backend API Serving
fastapi
uvicorn
pydantic

# Scraping / Converting
requests
beautifulsoup4
markdownify
urllib3

# Config
python-dotenv